<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>Project</title>
    <link href="source/style.css" rel="stylesheet">
    <script src="source/clock.js" async></script>

</head>

<body>

    <!-- ----------------------------------------------------------------------------------------------------------------- -->

    <nav class="navbar navbar-expand-sm navbar-dark  sticky-top bg-dark">

            <a class="navbar-brand" href="admin">
                <img src="Pic/health.png" alt="no">
            </a>
    
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse col-md-7" id="collapsibleNavId">
    
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
                    <li class="nav-item active">
                        <a class="nav-link" href="admin" id="smile">SMILE <span class="sr-only">(current)</span></a>
                    </li>
    
            </div>  
    
    
            <div class="collapse navbar-collapse col-md-3.5" id="collapsibleNavId">
    
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                    <li class="nav-item">
                           <img src="Pic/user.png" alt="user"> 
                        </li>
                    
                    </ul>
            </div>
        </nav>

        <!-- ----------------------------------------------------------------------------------------------------------------- -->
<!-- Main Content -->
<div class="container-fluid">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-4">  
                    <div class="row mt-5">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5">  
                        <h3 class="text-center">Administrator</h3>
                        </div>
                    </div>
                <img src="Pic/admin.png" style="width: 250px; height: 200px; margin-left: 5px;" alt="Nothing">
                <br>
                <br>
                <div id="DigitalCLOCK" class="clock" onload="showTime()"></div>

            </div>
            <!-- Right Column -->
            <div class="col-md-4 text-center mt-5">
                <h2>Check Request</h2>
                <a href="request">
                        <img class="shadow-lg rounded-pill" src="Pic/paper.jpg" alt="HTML tutorial" style="width:300px;height:150px;">
                      </a>
                <p class="text-primary ml-4">Click the picture ⬆️</p>
 
                <h2>Room</h2>
                <a href="create">
                        <img class="shadow-lg rounded-pill" src="Pic/room.jpg" alt="HTML tutorial" style="width:300px;height:150px;">
                </a>
                <p class="text-info ml-4">Click the picture ⬆️</p>      
        </div>

        <div class="col-md-4 text-center mt-5">
            <h2>Counselor Regis</h2>
                <a href="cregis">
                        <img class="shadow-lg rounded-pill" src="Pic/registration.png" alt="HTML tutorial" style="width:300px;height:150px;">
                      </a>
                <p class="text-primary ml-4">Click the picture ⬆️</p>
    </div>
        
    </div>











         <!-- ----------------------------------------------------------------------------------------------------------------- -->

</body>

</html>