<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <style>
        th.dt-center,
        td.dt-center {
            text-align: center;
        }
        body{
            background-image: url('bgfollow.v1.jpg');
            color:black;
        }
        #smile{
            color: gold;
            font-size: 30px;
        }
       
    </style>

<script>
    $(document).ready(function () {
        var dataSet = [
            {
                "id": "P001",
                "name": "Frances Liardet",
                "time": "8:00",
                "date": "20/12/2019",
                "type": "1",
                "progress":"0"
                
            },
            {
                "id": "G001",
                "name": "Relationship and Sex",
                "time": "8:00",
                "date": "27/12/2019",
                "type": "0",
                "progress":"1"
                
            }
        ];

        var table = $('#myTable').DataTable({
            responsive: true,       //for responsive column display
            deferRender: true,      //if large data, use this option
            data: dataSet,
            columns: [
                { data: "id", title: " ID" },
                { data: "name", title: "Name / Topic" },
                { data: "time", title: "Time" },
                {data: "date", title: "Date"},
                {
                        data: "progress",
                        title: "Progress",
                        render: function (data, type, row) {
                            let btt = "<p class='text-primary'>In Process</p>";
                            if (data == 0) {
                                btt = "<p class='text-success'>Completed</p>";
                            } else if (data == 2 ){
                                btt = "<p class='text-danger'>Canceled</p>";
                            }
                            return btt;
                        }
                    },{
                        data: "type", 
                        title:"Type",
                        render: function(data,type,row){
                            let tyy = "<p class='text-danger'>Personal</p>";
                            if (data == 0) {
                                tyy = "<p class='text-danger'>Group</p>";
                            }
                            return tyy;
                        }
                    },
                    { title: "Action", defaultContent: "<button id='btnDel' class='btn btn-danger mt-2'>Cancel</button>", orderable: false }
                ],
                columnDefs: [
                    // make the last column align right, also target: "_all"
                    { "className": "dt-center", "targets": 5 }
                ]
            });

             $('#myTable tbody').on("click", "#btnDel", function () {
                const currentRow = $(this).parents('tr');
                //get selected row and update value
                let temp = table.row(currentRow).data();
                if(temp.progress == 1) {
                    temp.progress = 2;
                }

                //update data table
                table.row(currentRow).data(temp).invalidate();
    } );
    });
</script>

</head>
<body>
   
    <nav class="navbar navbar-expand-sm navbar-dark  sticky-top bg-dark">

        <a class="navbar-brand" href="home">
            <img src="Pic/health.png" alt="no">
        </a>

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-md-7" id="collapsibleNavId">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item active">
                    <a class="nav-link" href="home" id="smile">SMILE <span class="sr-only">(current)</span></a>
                </li>

        </div>


        <div class="collapse navbar-collapse col-md-3.5" id="collapsibleNavId">

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="yourdoctor">Personal Consultation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="room">Consultation Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myinfo">My Activity</a>
            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <img src="Pic/user.png" alt="user"> 
                        </li>
                    
                    </ul>
            </div>
    </nav>
    <div class="container">
        <h3 class="mb-3 mt-3" id="my" >My Activity</h3>
        <table id="myTable" class="table table-striped table-bordered" style="width:100%" >
        </table>
    </div>
    
    
    
</body>
</html>